html
  head
    title= title
    link(rel='stylesheet', href='./css/bootstrap.css')
  body  
    .container
        .jumbotron
          h1.text-center=title
        .row
          each movie in movies
              .col-md-4
                .card.mb-4
                  img.card-img-top(src=movie.Images.EventMediumImagePortrait, alt=movie.OriginalTitle)
    script(src="./js/bootstrap.bundle.js") 
